<nav class="navbar navbar-expand-lg navbar-light bg-light">
<%= link_to "MPET", root_path, :class => "navbar-brand"%>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item active">
    <%= link_to "Home", root_path, :class => "nav-link"%>
    <span class="sr-only">(current)</span>
    </li>
    <li class="nav-item active">
    <%= link_to "All articles", articles_path, :class => "nav-link"%>
    </li>
    <li class="nav-item active">
    <%= link_to "New articles", new_article_path, :class => "nav-link"%>
    </li>
  </ul>
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
</div>
</nav>