<h1>Listing all articles</h1>
<p>
<%= link_to "Create new article", new_article_path %>
</p>
<table>
 <tr>
  <th>Title</th>
  <th>Description</th>
 </tr>
 <% @articles.each do |article| %>
 <tr>
  <td><%= article.title %></td>
  <td><%= article.description %></td>
  <td><%= link_to 'Edit', edit_article_path(article) %></td>
  <td><%= link_to 'Show', article_path(article) %></td>
  <td><%= link_to 'Delete', article_path(article), method: :delete, data: {confirm: "Are you sure?"} %></td>
 </tr>
 <% end %>
</table>
<%= link_to 'Back', articles_path %>